@model ManagementOfMossadAgentsMVC.Models.MissionForView

@{
    ViewData["Title"] = "GetOneMission";
}

<h1>GetOneMission</h1>

<div>
    <h4>MissionForView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.X)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.X)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Y)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Y)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLeft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeLeft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
