@model ManagementOfMossadAgentsMVC.Models.GeneralView

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>GeneralView</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetLive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetLive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountMission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountMission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadioBetweenAgentToTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadioBetweenAgentToTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadioBetweenAgentToMission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadioBetweenAgentToMission)
        </dd>
    </dl>
</div>

<script>
    setTimeout(function () {
        location.reload();
    }, 3000);
</script>
